@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin position-absolute {
    position: absolute;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin heading-styling {
    color: $main-color;
    font-family: $font-family;
    text-align: center;
    font-size: 3em;
}