$font-family: 'Audiowide', cursive;
$main-color: rgb(0, 255, 42);
$secondary-color: rgb(0, 247, 255);
$tertiary-color: rgb(255, 0, 242);
$cell-size: 120px;
$mark-size: $cell-size * .9;
$mark-width: $mark-size * .15;
$body-background-color: black;
$winning-message-background-color: rgba(0, 0, 0, .9);
$winning-message-font-size: 4rem;